#home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#greet-name {
    z-index: 2;
    grid-row: 5 / span 4;
    grid-column: 2 / end;
    font-size: 5.5rem;
    font-family: "Poppins";
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#greet-description-oneliner {
    max-width: 30rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 100;
}

#greet-description {
    max-width: 30rem;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-family: "Poppins";
    font-weight: lighter;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#shadow-on-hover {
    z-index: 1;
    text-shadow: 7px 7px rgba(0, 0, 0, 0.0);
    z-index: 0;
    transition-property: text-shadow, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier();
}

#shadow-on-hover:hover {
    text-shadow: 7px 7px rgba(0, 0, 0, 0.08);
    cursor: default;
}

#profile-img {
    grid-row: 4 / end;
    grid-column: 8 / end;
    transform-origin: center center;
    transform: scale(0.7) translate(-50%, -30%);
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    border: 20px solid gainsboro;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    animation: float 8s ease-in-out infinite;
}

#profile-img>img {
    transform: translate(-13%, -5%);
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: scale(0.7) translate(-50%, -30%) translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: scale(0.7) translate(-50%, -30%) translatey(-10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: scale(0.7) translate(-50%, -30%) translatey(0px);
    }
}