/* GLOBAL */

.w_invisible {
    display: none !important;
}

:root {
    --fc-primary: rgba(21, 233, 162, 0.438);
    --col-primary: rgb(17, 188, 194);
    --bg-color: white;
    --head-font-size: 5.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-color: rgb(49, 232, 245); */
}

body {
    background: var(--bg-color);
}


/* classes */

.hidden {
    visibility: hidden;
}

.main-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 5vw auto;
}

.sidenav {
    display: grid;
    height: 100vh;
    width: 5vw;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    position: fixed;
}

.sidenav-element {
    background: var(--col-primary);
}

.sidenav-element>span {
    display: inline-block;
    position: relative;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.fas {
    text-align: center;
}

.content-grid {
    display: grid;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    /* grid-template-rows: repeat(5, 100vh); */
    grid-auto-flow: rows;
    grid-row: 1;
    grid-column-start: 2;
}

.sidenav-element>span:not(.active) {
    color: rgb(236, 234, 234);
}

.sidenav-element.active>span {
    color: rgb(32, 121, 124);
}

.content-box {
    font-size: 25px;
    font-family: Montserrat;
    height: 100vh;
    margin-left: 30px;
}

.snappy-scroll-container {
    scroll-snap-type: y mandatory;
}

.snappy-scroll-item {
    scroll-snap-align: start;
}

.content-item {
    height: 100vh;
}


/* Tag-specific */

.item {
    position: absolute;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    transition-property: font-size, color;
    transition-duration: 0.45s;
}

p {
    font-family: Montserrat;
}


/* id-specific */

#active-elem-highlighter {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    margin-left: 20%;
    border-radius: 20px 0px 0px 20px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.2);
}

#above {
    content: "";
    position: absolute;
    display: block;
    background: var(--bg-color);
    width: 1em;
    height: 1em;
    top: -1em;
    right: 0;
}

#below {
    content: "";
    position: absolute;
    display: block;
    background: var(--bg-color);
    height: 1em;
    width: 1em;
    bottom: -1em;
    right: 0;
}

#above::after {
    content: "";
    position: absolute;
    display: block;
    background: var(--col-primary);
    height: 200%;
    width: 200%;
    top: -100%;
    left: -100%;
    border-radius: 100%;
}

#below::before {
    content: "";
    position: absolute;
    display: block;
    background: var(--col-primary);
    height: 200%;
    width: 200%;
    left: -100%;
    border-radius: 100%;
}


/* SPECIAL ITEMS */

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Temporary stuff */

.lorem-ipsum {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.grad-text {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}